.about-container{
    background-color: #fbf3e3;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, auto);
    gap: 10px;
}



.about-title{
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    /* text-align: center; */
    font-size:  4rem;
}

.about-text{
    grid-column: 1 / 6;
    grid-row: 3 / 4;
}

.profile-pic{
    border-radius: 50% / 25%; /* Creates a track field-like oval */
    width: 400px;
    outline: 2px solid white; /* Inner border */
    outline-offset: -8px; /* Moves the border inside */

    grid-column: 5 / 7;
    grid-row: 4 / 11;
    justify-self: center;
    align-self: center;

}

.about-additional{
    grid-column: 8 / 11;
    grid-row: 6 / 9;
}