header {
    background: #e6ab90; /* c06e53 a94116 */
    color: black;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns items vertically */
    justify-content: center; /* Centers everything horizontally */
    gap: 2rem; /* Adds space between elements */
}

.hero-logo {
    width: 50px; /* Adjust the size of the logo */
    height: auto;
    margin-right: 8px;
  }

/* Styling for the home link */
.home-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color of the h1 */
    position: relative;
}

.home-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Position the underline below the text */
    width: 0;
    height: 2px;
    background-color: currentColor; /* Matches text color */
    transition: width 0.3s ease-in-out;
}

.home-link:hover::after {
    width: 100%; /* Expands underline */
}
  
.order-online{
    text-decoration: none;
    color: inherit;
    border-radius: 10%;
    border: 2px solid black;
    padding: 10px;
    margin-right: 1em;
    transition: background-color 0.5s ease-in-out;
}

.order-online:hover {
    background-color: black;
    color: #d4e0ee;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center everything for mobile view */
    flex-wrap: wrap; /* Ensures proper alignment for narrow screens */
}

.header-container h1 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center; /* Default for mobile view */
}
header h1 {
    text-align: center;
}


  






/* Footer styles */
footer {
    background: #e6ab90;
    color: black;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto; /* Ensures footer sticks to the bottom when content is short */
}

footer a{
    color: white;
}





@media screen and (min-width: 750px){
    header{
        flex-direction: row;
        justify-content: space-between; /* Ensures space between elements */
        align-items: center;
    }
    .header-container {
        justify-content: flex-start; /* Align logo and name to the left */
        padding-left: 1.5rem;
      }
    
      .header-container h1 {
        text-align: left; /* Align text to the left */
      }
    
      #contact .container {
        text-align: left; /* Align content to the left */
      }

    .bf-spread{
        height: 70%;
        
      }
    
      /* Footer Grid Container */
      .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns for contact and hours */
        padding: 16px;
      }
      /* Ensure the copyright section spans the full width */
      .footer-grid .copyright {
        grid-column: span 2; /* Makes it span both columns */
        text-align: center;
        margin-top: 16px;
      }
    
    

}

@media screen and (min-width: 2000px){
    .bf-spread{
        height: 50%;
        
      }
}